::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    padding-top: 60px;
    background-color: #303133;
    color: #D6DBDF;
}

hr {
    margin: 10px 0;
    border-top: 1px dashed #8c8b8b;
}

textarea {
    resize: none;
}

.container {
    height: 100%;
}

#editor_wrapper {
    position: relative;
    height: calc(100% - 50px);
    width: 50%;
    float: left;
}

#editor {
    height: 100%;
    width: 100%;
}

#btn_run {
    position: absolute;
    float: left;
    top: 10px;
    right: 10px;
    z-index: 999;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px 15px;
    background-color: #5DADE2;
    color: #283747;
    border-width: 0;
    border-radius: 5px;
}

#right_panel {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    height: calc(100% - 50px);
    float: right;
    padding-left: 20px;
    width: 50%;
}

#description_wrapper {
}

#expected_output_wrapper {
}

#expected_output {
    resize: none;
    width: 100%;
    background-color: #111;
    color: #5DADE2;
}

#result_wrapper {
    height: 100%;
    flex-grow: 1;
}

#stdout_wrapper {
    display: none;
    position: relative;
}

#stderr_wrapper {
    display: none;
    position: relative;
}

#compile_error_wrapper {
    display: none;
    position: relative;
}

#stdout {
    min-height: 100px;
    width: 100%;
    background-color: #111;
    color: #5DADE2;
    margin: 10px 0;
}

#stderr {
    min-height: 100px;
    width: 100%;
    background-color: #111;
    color: #F5B041;
    margin: 10px 0;
}

#compile_error {
    min-height: 100px;
    width: 100%;
    background-color: #111;
    color: #E74C3C;
    margin: 10px 0;
}

.overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.0980392);
    color: rgb(235, 235, 235);
}

#overlay_stderr {
}

#overlay_error {
}
